@font-face {
    font-family: 'avone';
    src: url("./fonts/AVONE.ttf") format("ttf");
    src: url("./fonts/AVONE.otf") format("otf");
    src: url("./fonts/AVONE.woff") format("woff");
}

p {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'avone';
    font-weight: normal;
    font-style: normal;
    font-size: 15vw;
    text-align: center;
    color: white;
    transform: scale(1.2, 0.7);
    padding-left: 40%;
    margin: 0;
    margin-right: 17vw;
    
}

body.main {
    background-color: black;
    background-image: url("../img/mainbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    overflow: hidden;
}

body.info {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    overflow: hidden;
}

.vl {
    border-left: 1px solid white;
    height: 80vh;
    position: absolute;
    left: 40%;
    margin-left: -3px;
    top: 10%;
}

.horizontalLine {
    border-bottom: 1px solid white;
    width: 80vw;
    position: fixed;
    bottom: 70%;
    margin-bottom: -3px;
    margin-left: 10vw;
    margin-right: auto;
}

a.main:link {
	color: white;
    text-decoration: none;
    letter-spacing: -1px;
    line-height: 75%;
}

a.main:visited {
	color: white;
    text-decoration: none;
}

a.main:active {
	color: white;
    text-decoration: none;
}

a.main:hover { 
	transform: scale(1.2);
    transition: transform .2s;
    color: black;
    background-color: white;
}

a.close {
    font-family: 'avone';
    font-weight: normal;
    font-style: normal;
    font-size: 2vw;
    margin-top: 20vw;
    margin-bottom: auto;
    margin-left: 10vw;
    margin-right: auto;
}

a.close:link {
    color: white;
    text-decoration: none;
    letter-spacing: -1px;
    line-height: 75%;
}

a.close:visited {
	color: white;
    text-decoration: none;
}

a.close:active {
	color: white;
    text-decoration: none;
}

a.close:hover { 
	transform: scale(1.2);
    transition: transform .2s;
    color: black;
    background-color: white;
}

.titlefont {
    font-family: 'avone';
    font-weight: normal;
    font-style: normal;
    font-size: 6vw;
    text-align: left;
    transform: scale(0.7,1.1) perspective(20cm) rotateY(40deg);
}

.vertli {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    position: fixed;
    inset: 0px;
    width: fit-content;
    height: fit-content;
    max-width: 100vw;
    max-height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25vw;
    margin-right: auto;
}

.mainicopos {
    display: flex;
    position: fixed;
    inset: 0px;
    width: fit-content;
    height: fit-content;
    max-width: 100vw;
    max-height: 100dvw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 30vw;
    object-fit: scale-down;
    object-position: right;
}

.mainicoresize {
    width: 10vw;
    height: 10vw;
}

.lmainreveal {
    animation: ltransition 1s;
}

.rmainreveal {
    animation: rtransition 1s;
}

@keyframes ltransition {
    from {
        opacity: 0;
        transform: scale(0.6,0.9) perspective(10cm) rotateY(0);
    }
    
    to {
        opacity: 1;
        transform: scale(0.7,1.1) perspective(20cm) rotateY(40deg);

    }
}

@keyframes rtransition {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bgtransition {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* loader

#startloader{
    background: black url("") no-repeat center center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
*/